<!--https://www.youtube.com/watch?v=OnuC3VtEQks-->

<h2> Acount Login </h2>
<form method="post" name="loginForm" action="users/login">
<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>